body{
  margin: 0;
  font-family: sans-serif;
  background:#E7FCF8;  
}

.form_clientes{
  width:70%;
  max-width:500px;
  margin:auto;
  background:#F9F039;
  border-radius:9px;
}


.contenedor_input{
  text-align:center;
 
}


.titulo_form_clientes{
  background:#63FE5F;
  color: #290228 ;
  padding: 10px;
  text-align:center;
  font-weight:100px;
  font-zise: 30px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 10px solid crimson;
}
